<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/antariksh-kothari-032b7332a/" style="color: rgb(255, 56, 92);">
                <i class="fa-brands fa-meta"></i>
            </a>

            <a href="https://www.linkedin.com/in/antariksh-kothari-032b7332a/" style="color: rgb(255, 56, 92);">
               <i class="fa-brands fa-instagram"></i>
            </a>
            
            <a href="https://www.linkedin.com/in/antariksh-kothari-032b7332a/" style="color: rgb(255, 56, 92);">
               <i class="fa-brands fa-linkedin-in"></i>
            </a>
            

        </div>

        <div class="f-brand-name">&copy; WanderLust Pvt Ltd</div>

        <div class="f-info-links">
            <a href="/privacy" style="margin-right : 6px">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

    </div>
</footer>